@import url("https://fonts.googleapis.com/css?family=Salsa:400|Inter:400|Nova+Flat:400|Proza+Libre:400|Sahitya:400|Amatic+SC:400|Quando:400|Poppins:400");

body{
    background-image: url("Background\ half.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

label{
    display: none;
}

header{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2C3259;
    border-style: solid;
    border-color: #2493A2;
    border-width: 3px;
    border-radius: 15px;
    margin: 2%;
    font-size: 20px;
    width: 95%;
    z-index: 1000;
}

.left-menu{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.menu-title{
    padding: 15px 4%;
    color: #E6DABA;
    border-width: 1px;
    border-style: solid;
    border-color:#2493A2;
    border-top: #2493A2;
    border-bottom: #2493A2;
    border-left: #2493A2;
    font-family: "Amatic SC";
    text-decoration: underline 1px;
    font-weight: bolder;
    font-size: 25px;
}

.menu-item{
    padding: 15px 4%;
    border-style: solid;
    border-width: 1px;
    border-color:#2493A2;
    border-top: #2493A2;
    border-bottom: #2493A2;
    border-left: #2493A2;
    font-family: "Sahitya";
}

.menu-item a{
    color: #DCB13C;
    width: 100%;
}

.menu-item:hover{
    background-color: rgba(72, 145, 155, 0.5);
}

a{
    text-decoration: none;
}

.right-menu{
    padding: 18px 2%;
    text-align: right;
    width: 10%;
    font-family: "Proza Libre";
}

.right-menu a{
    color: #E6DABA;
}

.right-menu a:hover{
    text-decoration: underline;
}

.title{
    font-size: 6vw;
    text-align: center;
    color: #F2DEA6;
    font-family: "Amatic SC";
    margin: 0;
    font-weight: bold;
}

.page{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    border-radius: 10%;
}

.img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(-1);
}

.img img{
    width: 20%;
}

.img2 img{
    width: 20%;
}

.form-title{
    font-size: 2vw;
    font-family: "Salsa";
    color:#2C3259;
    text-decoration: underline;
}

.form{
    width: 100%;
    background-color: #3396C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-style: solid;
    border-color: #69d2e7;
    border-width: 10px;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form p{
    font-size: 1.5vw;
    margin: 3%;
    font-family: "Proza Libre";
}

.agree{
    font-size: 1.2vw;
    margin: 0;
}

input{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    padding-left: 3%;
}

select{
    width: 64%;
    height: 35px;
    border-radius: 10px;
    padding-left: 3%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}



button{
    width: 30%;
    height: 60px;
    border-radius: 10px;
    background-color: #E6DABA;
    border-color: #DCB13C;
    border-width: 5px;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    align-items: center;
    margin-top: 10%;
}

.footeritems{
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.footertext{
    color: #DCB13C;
    font-family: "Sahitya";
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
}

.footertitle{
    color:#E6DABA;
    font-family: "Nova Flat";
    width: 100%;
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
}

.footercopy{
    font-size: 1.5vw;
    margin: 0;
    padding-top: 5%;
}

.footerright{
    font-size: 1vw;
    margin: 0;
}

footer img{
    width: 20%;
}

@media only screen and (max-width: 768px){
    header{
        display: none;
    }

    label{
        display: block;
    }
    
    label .menu {
        position: fixed;
        z-index: 100;
        margin: 3%;
        width: 11.5%;
        height: 9%;
        background: #2C3259;
        border-radius: 10px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #2C3259, 0 0 0 0 #2C3259;
        cursor: pointer;
        border-style: solid;
        border-color: #69D2e7;
    }
      
    label .hamburger {
        position: absolute;
        top: 50%;
        left: 30%;
        width: 40%;
        height: 2px;
        background: #69D2e7;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
      
    label .hamburger:after, label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #69d2e7;
    }
      
    label .hamburger:before{ 
        top: -10px; 
    }
      
    label .hamburger:after{ 
        bottom: -10px; 
    }
    
    label input{ 
        display: none; 
    }

    label input:default + .menu{
        background-color: black;
        color: black;
    }
      
    label input:checked + .menu {
        box-shadow: 0 0 0 100vw #2C3259, 0 0 0 100vh #2C3259;
        border-radius: 0;
    }
      
    label input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
      
    label input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
    }
      
    label input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;    
    }

    label ul{
        display: none;
    }

    label input:checked + .menu + ul{ 
        opacity: 1;
        display: block;
    }

    label ul{
        z-index: 200;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
        list-style: none;
        text-align: center;
    }

    label p{
        color: #E8B939;
        font-family: "Salsa";
        font-size: 7vw;
        text-decoration: underline;
        margin: 0;
    }

    label a{
        margin-bottom: 10%;
        display: block;
        color: #ECD0A8;
        text-decoration: none;
        font-size: 5vw;
        font-family: "Sahitya";
        cursor: default;
    }

    label a:hover{
        text-decoration: underline;
    }

    .space{
        display: none;
    }

    .img{
        display: none;
    }

    .img2{
        display: none;
    }

    .form{
        width: 80%;
        margin-left: 8%;
    }

    .form-title{
        font-size: 5vw;
    }

    .form p{
        font-size: 3vw;
    }
}